@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #A0522D;

}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 30rem;
    color: white;
    align-items: center;
    
}


p{
    display: flex;
    margin-top: 10%;
    margin-left: 30%;
    
    
}

h2{
    display: flex;
    color: white;
    font-size: 70%;
    margin-left: 2%;
}

img {
    display: flex;
    width: 100%;
}

div > img{
     position: absolute;
     top: 0;
     left: 0;
     width: 50%;
     height: 80%;
     margin-top: 10%;
     margin-left: 30%;
}


div > p{
    display: flex;
    margin-top: -33%;
    color: aliceblue;
    margin-left: 30%;
    font-size: 200%;
} 

div > p1{
    display: flex;
    margin-top: 3%;
    color: aliceblue;
    margin-left: 30%;
    font-size: 200%;
} 

div > p2{
    display: flex;
    margin-top: 3%;
    color: aliceblue;
    margin-left: 30%;
    font-size: 200%;
}

div > p3{
    display: flex;
    margin-top: 6%;
    color: aliceblue;
    margin-left: 50%;
    font-size: 200%;
}